<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My cart:</title>
</head>
<body>
    {% for product in cart %}
    <ul>
        <li>Title: {{ product.item.title }}<br>
            Price for one: {{ product.item.price }} $ <br>
            Quantity: {{ product.quantity }}
        </li>

    </ul>
    {% endfor %}
    <h3>Total price: {{ cart.get_total_price }}</h3>
       <form method="post">
        {% csrf_token %}

        <button type="submit">Buy</button>
    </form>
</body>
</html>